.rating-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 11vw;
  padding-left: 10vw;
  padding-top: 50px;
}
.rating-heading {
  font-size: 25px;
  padding: 40px;
  align-self: center;
}
.name-rat {
  font-size: 14px;
  font-weight: 600;
}
.unordered-list-rat {
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 400;
  color: #212529;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.ordered-list-rat {
  width: 309px;
  background-color: #f5f6f7;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}
.description-rating {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #212529;
}
.icon-solid {
  color: #efa728;
  font-size: 12px;
  position: relative;
  padding-top: 0px;
  margin-top: 0px;
}
.icon-blank {
  color: #a7a7a7;
  font-size: 12px;
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
}
.star-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marker-stars-cont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
