.destination {
  height: 70vh;
  width: 100vw;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDDR1MNnlizXe0uJBnJtLgmpFji4_GyfvkMDZjwWPbCZo7SYg2Qc0jqpFeN8vEmYBmsF4&usqp=CAU');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 11vw;
  padding-left: 10vw;
}
.travel-the {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back-cont {
  height: 32px;
  width: 140px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 16px;
}
.back {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding-left: 40px;
}
.main-head {
  font-size: 40px;
  color: #fff;
}
.back-arrow {
  background-color: black;
  color: #fff;
  height: 32px;
  width: 32px;
  margin: 0px;
  padding: 0px;
  border-radius: 16px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-top: 2px;
}
