* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  width: 100%;
}
.main-container {
  height: 80vh;
  width: 100vw;
  background-image: url('https://d1cj8q6w07zyiq.cloudfront.net/mytransfers/images/mytransfers-top.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
