.navbar {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
}
.nav-container {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.nav-items-container {
  display: flex;
  list-style: none;
  font-family: 'Roboto';
  align-items: flex-start;
  padding-top: 6px;
}

.home-website-logo {
  height: 50px;
  width: 200px;
  background-color: transparent;
  margin-top: 0px;
}
.link-item {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  font-weight: 500;
}

.login-button {
  color: #ffffff;
  padding: 7px;
  background-color: #d6b246;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  border-width: 0px;
}
.down-arrow {
  height: 16px;
  width: 16px;
  padding-left: 5px;
  padding-top: 3px;
}
.country-logo {
  height: 15px;
  width: 25px;
}

.login-person {
  padding-top: 2px;
  padding-right: 2px;
}
